<footer>
    <div class="container">
      <div class="footer-links row">
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <div class="title-footer">
            <h4>CoDemy</h4>
          </div>
          <div class="list-footer">
            <ul>
              <li><a href="#">Qui Sommes-nous?</a></li>
              <li><a href="#">Notre Equipe</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">Nous Rejoindre</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
          <div class="title-footer">
            <h4>Support</h4>
          </div>
          <div class="list-footer">
            <ul>
              <li><a href="#">Devenir formateur</a></li>
              <li><a href="#">Nous Contacter</a></li>
              <li><a href="#">Témoigner</a></li>
              <!--  <li><a href="#">Centre d'Aide</a></li>
                <li><a href="#">Acces Newsletter</a></li>
                <li><a href="#">Presse</a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <div class="title-footer">
            <h4>Plus</h4>
          </div>
          <div class="list-footer">
            <ul>
              <li><a href="#">Mention Légale</a></li>
              <li><a href="#">Conditions d'utilisation</a></li>
              <li><a href="#">Politique de Confidentialité</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-icon row">
        <div class="col-12 order-2 col-sm-12 order-sm-2 col-md-4 order-md-1 col-lg-4 text-center">
          <span><img src="#"></span>
          <span>&copy; Codemy 2018-2019</span>
        </div>
        <div class="col-12 order-1 col-sm-12 order-sm-1 col-md-8 order-md-2 col-lg-8">
          <div class="middle">
            <a class="footer-btn " href="#"><i class="fab fa-facebook-f text-center"></i></a>
            <a class="footer-btn" href="#"><i class="fab fa-twitter text-center"></i></a>
            <a class="footer-btn" href="#"><i class="fab fa-instagram text-center"></i></a>
            <a class="footer-btn" href="#"><i class="fab fa-youtube text-center"></i></a>
            <a class="footer-btn" href="#"><i class="fab fa-linkedin text-center"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>