{% extends "base.html.twig" %}

{% block title %}Parametre de sécuriter{% endblock %}

{% block style %}<link rel="stylesheet" type="text/css" href="/css/settings.css" media="screen">{% endblock %}

{% form_theme form 'partials/formThemeDefault.html.twig' %}
{% block body %}
<div class="settings" role="main">

    {% include "partials/user_settings_navbar.html.twig" %}

    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-7">
                {{form_start(form, {"attr": {"class" : "settingsForm"} }) }}
                    <div class="card border-gray mb-3">
                        <div class="card-heading bg-light py-3">
                            <span>Mot de passe</span>
                        </div>
                        <div class="card-body">
                            {{form_widget(form)}}
                        </div>
                    </div>
                    <div class="settingValidate mt-4">
                        <button type="submit" class="btn btn-primary">Enregister les modifications</button>
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
  </div>
{% endblock %}